useDynLib(KernelKnn, .registration = TRUE)
importFrom(Rcpp, evalCpp)

export(KernelKnn)
export(KernelKnnCV)
export(knn.index.dist)
export(distMat.KernelKnn)
export(distMat.KernelKnnCV)
export(distMat.knn.index.dist)
importFrom(stats,model.matrix)
importFrom(stats,dist)
importFrom(utils,combn)
importFrom(utils,setTxtProgressBar)
importFrom(utils,txtProgressBar)
